body{
    
    background-color: #269ab8;
    margin-top: 0;
   
  
    

    
}
.pull-left{
    height: 100%; 
    width: 16%; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 5%;
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    overflow-x: hidden; 
    padding-top: 15px;
    text-align: center;
}
.main {
    padding-top: 0%;
    background-color: #15cde6;
    margin-left: 20%; 
    margin-top: 0%;   
    padding: 0px 16px;
    margin-right: 5%;
    top: 0;
    
}

.avatar{  
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid black;    
}
.name{    
    font-size: 32px;    
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 2px rgb(223, 10, 10), 0 0 1em blue ;
}
.pdate{  
  
    float:left;
    padding-left: 2px;
}
.pdate > span{
    font-weight:bold;
}


.heading{
    text-align: center;
}
